.chat-ui-window {
    display: flex;
    height: 100vh;
}

.left-side {
    flex: 0 0 280px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-right: 1px solid #e3e4e8;
    box-sizing: border-box;
}

.center-content {
    flex: 1;
    background-color: #fff;
    overflow: auto;
}

.chat-ui-toolbar {
    display: flex;
    flex: 0 0 48px;
    margin-bottom: 32px;
    align-items: center;
    justify-content: center;
}

.chat-ui-toolbar button {
    width: 114px;
    height: 36px;
    border-radius: 18px;
    border: 1px solid #d0d2d4;
    background: rgba(255, 255, 255, 1);
    cursor: pointer;
    color: #7a7f85;
}
.chat-ui-toolbar button:active {
    box-shadow: none;
}
.chat-ui-toolbar button.main {
    border: 1px solid var(--main-color);
    margin-left: 18px;
    color: var(--main-color);
}

.conversation-list {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
}
.conversation-list ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
}

.conversation-list li {
    height: 62px;
    width: 240px;
    margin: 0 20px 10px;
    font-size: 14px;
    border: 0;
    border-radius: 24px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px 20px;
    box-sizing: border-box;
    position: relative;
}
.conversation-list li.selected {
    font-weight: bolder;
    border: 1px solid #cedfde;
    color: var(--main-color);
    background-color: var(--secondary-color);
}
.conversation-list li:hover {
    border: 1px solid #cedfde;
}
.conversation-list-item-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.conversation-list-item-assistant-name {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #93979c;
}

.conversation-menu-icon {
    display: none;
    position: absolute;
    right: 8px;
    top: 16px;
}

.conversation-list li:hover .conversation-menu-icon {
    display: block;
}

.conversation-menu {
    position: absolute;
    right: 30px;
    top: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
}
.conversation-menu-item {
    width: 100px;
    height: 30px;
    background-color: white;
    border: 0px;
    z-index: 1;
    cursor: pointer;
}
.conversation-menu-item:hover {
    background-color: #eee;
}

.chat-ui-information {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}
.chat-ui-information-title {
    color: var(--main-color);
}
.chat-ui-information-button-group {
    display: flex;
    align-items: center;
}
.chat-ui-information-button-group button {
    margin-left: 8px;
}

.conversation-ui {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.conversation-title-panel {
    display: flex;
    justify-content: space-between;
    flex: 0 0 68px;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #e3e4e8;
}
.conversation-title-panel-text-group {
    flex: 1;
    overflow: hidden;
}
.conversation-title-panel-title {
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.conversation-title-panel-assistant-name {
    font-size: 12px;
    color: #7a7f85;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.conversation-title-panel-button-group {
    display: flex;
    align-items: center;
    flex: 0 0 160px;
    justify-content: flex-end;
}
.conversation-title-panel-button-group button {
    margin-left: 8px;
}

.messages {
    height: 100%;
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 40px;
    box-sizing: border-box;
}

.message-item {
    position: relative;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 16px;
    display: inline-block;
    max-width: 60%;
    font-size: 14px;
}
.message-item p {
    margin: 0;
}
.user-message {
    align-self: flex-end;
    background: var(--main-color);
    color: white;
}
.bot-message {
    align-self: flex-start;
    background: var(--secondary-color);
}

.message-item-button-container {
    display: none;
    align-items: center;
    position: absolute;
    bottom: -35px;
    padding: 13px 17px;
    box-sizing: border-box;
    height: 42px;
    border-radius: 21px;
    border: 1px solid #cee0df;
    background-color: var(--secondary-color);
}

.message-item:hover .message-item-button-container {
    display: flex;
}

.user-message .message-item-button-container {
    right: 0;
}
.bot-message .message-item-button-container {
    left: 0;
}
.message-code-container {
    position: relative;
}
.message-code-button-group {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    background-color: white;
    opacity: 0.3;
}
.message-code-button-group:hover {
    opacity: 1;
}

.message-anchor {
    flex: 0 0 120px;
}

.input-area {
    box-sizing: border-box;
    position: relative;
    bottom: 30px;
}
.input-area-img-container {
    position: absolute;
    bottom: 90px;
    right: 170px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-end;
}
.input-area-img-wrapper {
    position: relative;
}
.input-area-img-delete-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
.input-area-img-wrapper:hover > .input-area-img-delete-button {
    display: block;
}
.input-area-img {
    max-width: 100px;
    margin-left: 10px;
}

.input-area-textarea {
    height: 55px;
    left: 100px;
    right: 170px;
    resize: none;
    overflow: auto;
    position: absolute;
    font-size: 16px;
    padding: 15px 50px 10px 20px;
    box-sizing: border-box;
    border-radius: 28px;
    border: 2px solid var(--main-color);
    bottom: 30px;
    opacity: 0.4;
}
.input-area-textarea:focus {
    outline: none;
    box-shadow: none;
    box-shadow: 0px 2px 4px rgba(17, 133, 83, 0.25);
    border: 1px solid var(--main-color);
    opacity: 1;
}
.input-area-textarea:hover {
    opacity: 1;
}

.input-area-send-button {
    bottom: 60px;
    right: 102px;
}
.input-area-add-button {
    bottom: 72px;
    right: 185px;
}

.new-chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    user-select: none;
    -webkit-user-select: none;
}
.new-chat-hint {
    font-size: 12px;
}
.new-chat-assistant-select {
    border: 1px solid #ccc;
    width: 50%;
    height: 50px;
    font-size: 14px;
    margin-top: 20px;
    appearance: none;
    box-shadow: none;
    border-radius: 4px;
}

.llm-thinking-badge {
    padding: 5px 20px;
    background-color: var(--main-color);
    color: white;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
}

.chat-ui-window .loading {
    background-color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chat-ui-window .loading-text {
    color: var(--main-color);
    font-size: 20px;
}
