.chat-ui-window {
    display: flex;
    height: 100vh;
}

.left-side {
    flex: 0 0 280px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-right: 1px solid #e3e4e8;
    box-sizing: border-box;
}

.center-content {
    flex: 1;
    background-color: #fff;
    overflow: auto;
}

.chat-ui-toolbar {
    display: flex;
    flex: 0 0 48px;
    margin-bottom: 32px;
    align-items: center;
    justify-content: center;
}

.conversation-list {
    @apply flex-1 overflow-y-auto overflow-x-hidden;
}

.conversation-list ul {
    @apply list-none p-0 m-0;
}

.conversation-list li {
    @apply h-16 w-60 mx-5 mb-2.5 text-sm border-0 rounded-2xl cursor-pointer flex flex-col justify-center p-3 box-border relative;
}

.conversation-list li.selected {
    @apply font-bold text-primary bg-primary-foreground;
}

.conversation-list li:hover {
    @apply bg-primary-foreground;
}

.conversation-list-item-name {
    @apply overflow-hidden text-ellipsis whitespace-nowrap;
}

.conversation-list-item-assistant-name {
    @apply text-xs overflow-hidden text-ellipsis whitespace-nowrap text-gray-500;
}

.conversation-menu-icon {
    @apply hidden absolute right-2 top-4;
}

.conversation-list li:hover .conversation-menu-icon {
    @apply block;
}

.conversation-menu {
    @apply absolute right-8 top-5 flex flex-col border bg-background;
}

.conversation-menu-item {
    @apply w-24 h-8 bg-white border-0 z-10 cursor-pointer;
}

.conversation-menu-item:hover {
    @apply bg-primary-foreground;
}

.chat-ui-information {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.chat-ui-information-button-group {
    display: flex;
    align-items: center;
}

.chat-ui-information-button-group button {
    margin-left: 8px;
}

.conversation-ui {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.conversation-title-panel {
    display: flex;
    justify-content: space-between;
    flex: 0 0 68px;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #e3e4e8;
}

.conversation-title-panel-text-group {
    flex: 1;
    overflow: hidden;
}

.conversation-title-panel-title {
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.conversation-title-panel-assistant-name {
    font-size: 12px;
    color: #7a7f85;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.conversation-title-panel-button-group {
    display: flex;
    align-items: center;
    flex: 0 0 160px;
    justify-content: flex-end;
}

.conversation-title-panel-button-group button {
    margin-left: 8px;
}

.messages {
    height: 100%;
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 40px;
    box-sizing: border-box;
}

.message-item {
    position: relative;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 16px;
    display: inline-block;
    max-width: 60%;
    font-size: 14px;
}

.message-item p {
    margin: 0;
}

.user-message {
    align-self: flex-end;
    background: hsl(var(--primary-foreground));
    color: hsl(var(--primary));
}

.bot-message {
    align-self: flex-start;
    background: hsl(var(--background));
    color: hsl(var(--foreground));
    border: 1px solid hsl(var(--border));
}

.message-item-button-container {
    display: none;
    align-items: center;
    position: absolute;
    bottom: -35px;
    padding: 13px 17px;
    box-sizing: border-box;
    height: 42px;
    border-radius: 21px;
    border: 1px solid hsl(var(--border));
    background-color: hsl(var(--background));
}

.message-item:hover .message-item-button-container {
    display: flex;
}

.user-message .message-item-button-container {
    right: 0;
}

.bot-message .message-item-button-container {
    left: 0;
}

.message-code-container {
    position: relative;
}

.message-code-button-group {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    background-color: white;
    opacity: 0.3;
}

.message-code-button-group:hover {
    opacity: 1;
}

.message-regenerate-bar {
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    color: gray;
    font-weight: bold;
}

.message-regenerate-bar-button {
    cursor: pointer;
    margin: 0 10px;
    padding: 5px;
}

.message-anchor {
    flex: 0 0 120px;
}

.input-area {
    box-sizing: border-box;
    position: relative;
    bottom: 30px;
}

.input-area-img-container {
    position: absolute;
    bottom: 90px;
    right: 170px;
    left: 170px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    flex-wrap: wrap;
}

.input-area-img-wrapper {
    position: relative;
    margin-left: 10px;
    margin-top: 10px;
}

.input-area-text-wrapper {
    position: relative;
    margin-left: 10px;
    margin-top: 10px;
    width: 120px;
    height: 30px;
    font-size: 12px;
    background-color: white;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
    cursor: pointer;
}

.input-area-text-wrapper span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90px;
    display: inline-block;
    padding-left: 5px;
}

.input-area-img-delete-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.input-area-img-wrapper:hover>.input-area-img-delete-button,
.input-area-text-wrapper:hover>.input-area-img-delete-button {
    display: block;
}

.input-area-img {
    max-width: 100px;
}

.input-area-textarea-container {
    min-height: 55px;
    max-height: 40vh;
    /* 约为10行文本的高度 */
    left: 100px;
    right: 170px;
    overflow: hidden;
    position: absolute;
    box-sizing: border-box;
    border-radius: 28px;
    padding: 0 50px 0 20px;
    bottom: 30px;
    opacity: 0.4;
    background-color: white;
    transition: height 0.2s;
}

.input-area-textarea {
    padding: 15px 5px 10px 5px;
    border: 0;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
    resize: none;
    overflow-y: auto;
    width: 100%;
    height: 55px;
}

.input-area-textarea-container:focus-within {
    outline: none;
    box-shadow: none;
    opacity: 1;
}

.input-area-textarea-container:hover {
    opacity: 1;
}

.input-area-send-button {
    bottom: 60px;
    right: 102px;
}

.input-area-add-button {
    bottom: 72px;
    right: 185px;
}

.new-chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    user-select: none;
    -webkit-user-select: none;
}

.new-chat-hint {
    font-size: 12px;
}

.new-chat-assistant-select {
    border: 1px solid #ccc;
    width: 50%;
    height: 50px;
    font-size: 14px;
    margin-top: 20px;
    appearance: none;
    box-shadow: none;
    border-radius: 4px;
}

.llm-thinking-badge {
    padding: 5px 20px;
    background-color: var(--main-color);
    color: white;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
}

.message-file-attachment,
.message-web-content {
    padding: 10px 20px;
    background-color: white;
    color: var(--main-color);
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    margin-top: 5px;
}

.chat-ui-window .loading {
    background-color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-ui-window .loading-text {
    color: var(--main-color);
    font-size: 20px;
}