.config-window-container {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.config-window-title {
    height: 64px;
    border-radius: 5px;
    background: var(--main-color);
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: white;
}

.config-window-icon-button-group {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.config-window-title-text-container {
    flex: 1;
    overflow: hidden;
}

.config-window-title-name {
    font-size: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 40%;
    display: inline-block;
}

.config-window-title-description {
    font-size: 10px;
    color: rgba(219, 217, 217, 1);
    margin-left: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 40%;
    display: inline-block;
}

.config-window-form {
    padding: 25px 30px;
    display: flex;
    flex-direction: column;
}


.config-window-title-name::before {
    content: '▶';
    display: inline-block;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.config-window-title-name.expanded::before {
    transform: rotate(90deg);
}

.config-window-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.config-window-content.expanded {
    max-height: 1000px;
    /* 调整这个值以适应你的内容 */
    transition: max-height 0.3s ease-in;
}