.chat-ui-window {
    display: flex;
    height: 100vh;
}

.left-side {
    flex: 0 0 200px;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
    padding: 10px;
}

.center-content {
    flex: 1;
    padding: 10px;
    background-color: #fff;
}
.chat-ui-toolbar {
    display: flex;
}
.chat-ui-toolbar button {
    flex: 1;
    margin: 0 5px;
}

.conversation-list {
    flex: 1;
    overflow-y: auto;
}
.conversation-list ul {
    list-style-type: none;
    padding: 0;
}

.conversation-list li {
    padding: 5px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.conversation-list li.selected {
    font-weight: bolder;
    color: red;
}

.chat-ui-information p {
    margin: 10px 0;
}

.conversation-ui {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.messages {
    flex: 1;
    overflow-y: auto;
}

.message-item {
    position: relative;
    margin-bottom: 20px;
}
.user-message {
    text-align: right;
}

.bot-message {
    text-align: left;
}

.message-item-button-container {
    position: absolute;
    bottom: -20px;
}

.user-message .message-item-button-container {
    right: 0;
}
.bot-message .message-item-button-container {
    left: 0;
}

.message-item-copy-button {
    font-size: 12px;
    height: 20px;
    padding: 2px 5px;
}

.input-area {
    display: flex;
    padding: 10px 0;
}

.input-area input {
    flex: 1;
    padding: 10px;
}

.input-area button {
    padding: 10px;
}
